<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
</head>

<body style="font-family: sans-serif, monospace;display: block; margin:auto;">
    <h1>Sorry, the data you want is  not available at the moment :(</h1>
    <h3>Here's what you can do </h3>
    <ul>
        <li>Check the spelling of country you typed</li>
        <li>Check your internet connection</li>
        <li>Type the country name with first letter NOT capital eg. India -> india</li>
    </ul>
</body>

</html>
